body {
  background: linear-gradient(to bottom, 
    #FF52C5 30%, 
    #57D7FF 60%, 
    #9B00FA 100%);
  color: #ffbfdf;
  width: 60%;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Verdana';
  font-size: 60px;
  margin-top: 300px;
  margin-bottom: 150px;
  -webkit-text-stroke: 3px black; /* Apply a 2-pixel black stroke for webkit browsers */
  text-stroke: 3px black; /* Apply a 2-pixel black stroke for other browsers */
  color: white; /* Set the text color to pink */
}

h2 {
  text-align: center; /* Center the text */
  font-family: 'Verdana'; /* Apply the Verdana font */
  font-size: 28px; /* Adjust the font size */
  margin-top: 30px; /* Adjust the top margin */
  margin-bottom: 50px; /* Adjust the bottom margin */
  color: #ffbfdf; /* Set the text color */
}

p {
  margin-bottom:10px;
  /* Adjusted margin for the paragraphs */
  padding-bottom: 70px;
  font-size: 18px;
  font-family: 'Verdana';
  color: white;
}


#chart1_heading {
  -webkit-text-stroke: 2px black; /* Apply a 2-pixel black stroke for webkit browsers */
  text-stroke: 2px black; /* Apply a 2-pixel black stroke for other browsers */
  color: #14acfe; /* Set the desired color for the chart1 heading */
  font-size: 30px;
}

#chart2_heading {
  -webkit-text-stroke: 2px black; /* Apply a 2-pixel black stroke for webkit browsers */
  text-stroke: 2px black; /* Apply a 2-pixel black stroke for other browsers */
  color: #14acfe; /* Set the desired color for the chart1 heading */
  font-size: 30px;
}

#chart3_heading {
  -webkit-text-stroke: 2px black; /* Apply a 2-pixel black stroke for webkit browsers */
  text-stroke: 2px black; /* Apply a 2-pixel black stroke for other browsers */
  color: #14acfe; /* Set the desired color for the chart1 heading */
  font-size: 30px;
}

#chart4_heading {
  -webkit-text-stroke: 2px black; /* Apply a 2-pixel black stroke for webkit browsers */
  text-stroke: 2px black; /* Apply a 2-pixel black stroke for other browsers */
  color: #14acfe; /* Set the desired color for the chart1 heading */
  font-size: 30px;
}

#chart5_heading {
  -webkit-text-stroke: 2px black; /* Apply a 2-pixel black stroke for webkit browsers */
  text-stroke: 2px black; /* Apply a 2-pixel black stroke for other browsers */
  color: #14acfe; /* Set the desired color for the chart1 heading */
  font-size: 30px;
}

#chart1_paragraph {
  margin-top: 40px; /* Add margin to the top of the chart1 plot */
}

#chart2_paragraph {
  margin-top: 40px; /* Add margin to the top of the chart1 plot */
}
#chart3_paragraph {
  margin-top: 40px; /* Add margin to the top of the chart1 plot */
}
#chart4_paragraph {
  margin-top: 40px; /* Add margin to the top of the chart1 plot */
}
#chart5_paragraph {
  margin-top: 40px; /* Add margin to the top of the chart1 plot */
}

.key_takeaway_paragraph_container {
  border: 3px solid black; /* Black border with 2px thickness */
  padding: 35px 35px 0px 35px; /* Top, Right, Bottom, Left padding */
  margin: 100px 0; /* Add some margin to separate it from other content */
  background-color: #FF52C5; /* Optional: Add a slight background color for contrast */
}

.empty-space {
  height: 100px; /* Adjust the height of the empty space as needed */
}